header{
    height: 70px;
    background-color: #40413c ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.logo h1{
    color: white;

}
.logo h1 span{
    color: red;
}
.links a{
    padding: 0px 10px;
    color: white;
    font-weight: 500;
}
.login-register{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.login a{
    padding: 10px 20px ;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.register a{
    padding: 10px 20px ;
    background-color: white;
    border-radius: 5px;
    color: #073b4c;

}